<footer class="bg-dark text-light py-4 fixed-bottom">
    <div class="container">
        <div class="row">   
            <hr class="bg-light">
            <div class="text-center">
                <p class="mb-0">&copy; {{ 'now'|date('Y') }} Made By Musadaq (PROFESSOR)</p>
            </div>
        </div>
    </div>
</footer>
