{% extends 'base.html.twig' %}

{% block body %}
<main class="container mt-5">
    <section class="row text-center">
        
        <!-- Title Section -->
        <div class="col-12 mb-4">
            <h1 class="display-4 text-primary fw-bold">Bienvenue chez Village Green</h1>
            <p class="lead">Découvrez notre incroyable sélection de produits</p>
        </div>

        <!-- Categories Section -->
        {% for category in categories %}
            <div class="col-md-4 mb-4">
                <div class="card shadow-lg border-0">
                    <div class="image-container overflow-hidden d-flex justify-content-center align-items-center">
                        <a href="{{ path('sous_categories', {id: category.id}) }}">
                            <img class="card-img-top img-fluid category-image" 
                                 src="{{ asset('uploads/categories/' ~ category.photo) }}" 
                                 alt="{{ category.nom }}">
                        </a>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title fw-bold">{{ category.nom }}</h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
</main>

{% endblock %}
